
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Admin page</h1>

        @Html.ActionLink("Çıkış Yap", "LogOut", "Login", new { area = "Admin" }, null)
    </div>
</body>
</html>
