<div class="col-md-12">
    <div class="blog-entry ftco-animate d-md-flex">
        <div class="text text-2 pl-md-8">
            <h1 class="mb-2" style="font-family:Saira Extra Condensed">ANIL <span style="color:#c3c3c3;">YAKUPOĞLU</span></h1>
            <p></p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet tempus elit. Maecenas nisi nisi, imperdiet eget malesuada eu, volutpat eleifend orci. Etiam condimentum risus vestibulum sem mattis laoreet. Praesent porta, risus ut pharetra tincidunt, neque sem sagittis lacus, id tincidunt sapien ex vel lectus. Donec consequat elit magna, ac vehicula lorem pharetra et. Nulla in luctus libero. Donec commodo justo eget mauris auctor cursus. Morbi gravida vulputate tellus sed porta. Maecenas vel pharetra ligula. Duis ornare suscipit ante, eget faucibus ligula cursus eget. Proin cursus lorem sapien, eget dictum turpis condimentum a. Aenean mattis dignissim ullamcorper. Nunc iaculis felis ipsum, ac rutrum mi fringilla quis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

            <p>Aenean sem eros, aliquam id eros et, tristique condimentum eros. Cras tristique lacus dictum risus fermentum porttitor. Curabitur quis cursus nisi, ut suscipit velit. Vestibulum sit amet aliquam urna, et commodo libero. Aenean aliquam ut dui vitae fringilla. Cras non facilisis sapien. Donec ac nisi ut tortor rhoncus venenatis.</p>

                <p>Pellentesque sed felis ipsum. Mauris sed fringilla erat. Proin pulvinar feugiat magna, ut pellentesque ipsum accumsan a. Vestibulum ac magna est. Ut aliquet eros justo, sit amet pretium nunc malesuada ut. Maecenas euismod ultrices mauris sit amet semper. Nam sed massa imperdiet, ornare leo non, placerat lectus. Morbi interdum scelerisque maximus.
            </p>
            
        </div>
    </div>
</div>
