@model List<MyBlogApp.Models.Blog>
@{
   Layout = "~/Areas/Admin/Views/Shared/_LayoutBlog.cshtml";
}


@foreach (MyBlogApp.Models.Blog item in Model)
{
    if(item.IsActive==true && item.HomePage == true) { 
    <div class="col-md-12">
        <div class="blog-entry ftco-animate d-md-flex">
            <a href="single.html" class="img img-2" style="background-image: url(/images/@item.Picture);"></a>
            <div class="text text-2 pl-md-4">
                <h3 class="mb-2"><a href="single.html">@item.Head</a></h3>
                <div class="meta-wrap">
                    <p class="meta">
                        <span><i class="icon-calendar mr-2"></i>@item.CreateDate</span>
                        <span><a href="single.html"><i class="icon-folder-o mr-2"></i>@item.Category</a></span>
                        <span><i class="icon-comment2 mr-2"></i>5 Comment</span>
                    </p>
                </div>
                <p class="mb-4">@item.Description</p>
                <p><a href="#" class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
            </div>
        </div>
    </div>

    }
}

@section SagKolon
{
    @{Html.RenderAction("CategoryList", "Blog");}
}
